{#Group 8 CCC Assignment2#}
{#Authors: Jiawei Wu 1036192, Luxi Li 1017820, Lixian Sun 938295, Deng Pan 354059, Rui Wang 978296#}
{#Date: 26/05/2020#}
{#Description: daytime page.#}
<!DOCTYPE html>
<html>
<head>
    <title> Heatmap leaflet</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <style>
        .row{
          width: 100%;
          display: flex;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        .button-home{
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            background-color: #555555;
        }
        .content{
            width: 92%;
            text-align: justify;
        }
        .fig{
            text-align: center;
            width: 100%;
            font-size: 18px;
        }
    </style>

    </head>
<body>
<button class="button-home">
    <a href="index">homepage</a>
</button>
<div class="container">
    <div class="row justify-content-md-center">
        <h1> Time Distribution of Twitter Data</h1>
    </div>
    <div class="row justify-content-md-center">
        <h4>Discovery</h4>
        <div class="content">
            <br>
            The data has shown the number of posted tweets was closely related to the date and time
            over a sample period.

            The radar chart shows that the number of tweets posted on Monday is relatively small (about 90,000).
            From Tuesday onwards, the number of tweets has increased significantly and has remained at about
            110,000. Then this number begins to decline on Sunday. This may be because people are busier with
            work on Monday and they have more time to surf the Internet for the rest of the week.
        </div>
        <div class="content">
            <br>
            From the bar chart we can see that the number of tweets posted fluctuates significantly
            with time. The amount of tweets reaches its peak at 9 pm and then rapidly declines to reach
            the lowest point at 4 am in the morning. Then it begins to increase again and the increasing
            trend slows down at noon. The data shows that people are more inclined to browse and post tweets
            in the evening, which is in line with people’s habits of relaxing after work and sleeping at night.

            Each day’s
            and hour's stats can be found by the following interactive radar charts and pie charts.
        </div>
        <div><br><br>
            <h4>Charts and Figures</h4>
        </div>

    </div>
    <div class="row">
            <canvas id="myChart"></canvas>
        <div class="fig"><b>Figure 1.</b> Twitter Amounts by day</div>
    </div>
    <br>
    <div class="row">
            <canvas id="myChart2"></canvas>
        <div class="fig"><b>Figure 2.</b> Twitter Amounts by Time</div>
    </div>
</div>
<script type="text/javascript">
    var day = {{ day|safe }};
    var time = {{ time|safe }};

    var day_data = [];
    for (var i = 0; i < day.length; i++){
        console.log(day[i].frequency);
        day_data.push(day[i].frequency);
    }

    var time_data = [];
    for (var i = 0; i < time.length; i++){
        console.log(time[i].frequency);
        time_data.push(time[i].frequency);
    }

    var label_day = ["Mon", "Tues", "Wed", "Thurs", "Fri", "Sat", "Sun"];

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'radar',

        // The data for our dataset
        data: {
            labels: label_day,
            datasets: [{
                data: day_data,
                backgroundColor: 'rgba(240,94,35,0.3)',
                borderColor: 'rgba(240,94,35,0.8)',
                label: 'Twitter amount'
            }]
         },

         // Configuration options go here
        options: {
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    suggestedMin: 5000,
                    suggestedMax: 50000
                }
            }
        }

    });


    var label_time = ["1:00","2:00","3:00","4:00","5:00","6:00",
                        "7:00","8:00","9:00","10:00","11:00","12:00",
                        "13:00","14:00","15:00","16:00","17:00","18:00",
                        "19:00","20:00","21:00","22:00","23:00","24:00",];

    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var chart = new Chart(ctx2, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: label_time,
            datasets: [{
                data: time_data,
                backgroundColor: 'rgba(240,94,35,0.3)',
                borderColor: 'rgba(240,94,35,0.8)',
                label: 'Twitter amount'
            }]
         },

         // Configuration options go here
         options: {}
    });


</script>
</body>
</html>