<!DOCTYPE html>
<html>
<head>
    <title> Heatmap leaflet</title>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin="">
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../../../dist/2.9.3/Chart.min.js"></script>
    <script src="../utils.js"></script>
    <style>
         #mapid {
            height: 600px;
            width: 1200px;
        }
         #mapid2 {
            height: 600px;
            width: 1200px;
        }
        .legend {
            line-height: 18px;
            color: #555;
            text-align: center;
            background: white;
        }
        .legend i {
            width: 38px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
        .button-home{
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 12px;
            background-color: #555555;
        }
        .row{
          width: 100%;
          display: flex;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        .content{
            width: 94%;
            text-align: justify;
        }
        .fig{
            text-align: center;
            width: 100%;
            font-size: 16px;
        }
    </style>
</head>
<body>
<button class="button-home">
    <a href="index">homepage</a>
</button>

<div class="container">
    <div class="row justify-content-md-center">
        <h1>Language and Twitter</h1>
    </div>
    <div class="row justify-content-md-center">
        <h4>Discovery</h4>
        <div class="content">
            <br>
            The data has shown a positive correlation between the rate of non-English twitter and
            rate of non-English speaking population over a sample period. For instance, NSW, with 786k
            non-English speaking population and corresponding 200k non-English tweets, is leading on
            both rankings. In a percentage prospective, NSW donates the highest percentage of non-English
            tweets (weights 50% of total tweets) with 32% of total non-English speaking population.Each
            state’s stats can be found by the following interactive bar charts and radar charts.
        </div>

        <div><br><br>
            <h4>Charts and Figures</h4>
        </div>
    </div>
    <div class="row">
        <div id='mapid'></div>
    </div>
    <div class="row">
        <div id='mapid2'></div>
    </div>
    <div class="row">
        <canvas id="myChart2"></canvas>
        <div class="fig">Figure 1. Rate of Non-English Twitter and <br>Non-English Population by State</div>
    </div>
    <br>
    <div class="row">
        <canvas id="myChart"></canvas>
        <div class="fig">Figure 2. Rate of Non-English Twitter and <br>Non-English Population by State</div>
    </div>
</div>
<script type="text/javascript">

    var data = {{ data|safe }};
    var aurin = {{ aurin|safe }};

    //FIRST MAP
    var map = L.map('mapid').setView([-25, 133.8], 4);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      id: 'mapbox/light-v9',
      tileSize: 512,
      zoomOffset: -1
    }).addTo(map);

    function getColor(d) {
      return d > 0.9 ? '#800026' :
          d > 0.8  ? '#BD0026' :
          d > 0.7  ? '#E31A1C' :
          d > 0.6  ? '#FC4E2A' :
          d > 0.5   ? '#FD8D3C' :
          d > 0.3   ? '#FEB24C' :
          d > 0.1   ? '#FED976' :
                '#FFEDA0';
    }

    for (var i = data.length - 1; i >= 0; i--) {
        var loc = [data[i].location[1], data[i].location[0]]
	    var count  = data[i].count
        var marker = L.circleMarker(loc, {
            radius: 5,
            fillOpacity: 0.5,
            color: getColor(data[i].count),
            weight: 1,}
          ).addTo(map);
	    marker.bindPopup("<b>Location: </b>" + loc + "<br><b>Ratio: </b>" + count).openPopup();
    };
	
    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend'),
            grades = [0, 0.1, 0.3, 0.5, 0.6, 0.7, 0.8, 0.9],
            labels = [];
        // loop through our density intervals and generate a label with a colored square for each interval
         for (var i = 0; i < grades.length; i++) {
            div.innerHTML +=
                '<i style="background:' + getColor(grades[i] + 0.1) + '"></i> ' +
                grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
        }
        return div;
    };

    legend.addTo(map);

    //SECOND MAP
    var map2 = L.map('mapid2').setView([-25, 133.8], 4);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      id: 'mapbox/light-v9',
      tileSize: 512,
      zoomOffset: -1
    }).addTo(map2);

    function getColor2(d) {
      return d > 0.1 ? '#800026' :
          d > 0.08  ? '#BD0026' :
          d > 0.06  ? '#E31A1C' :
          d > 0.04  ? '#FC4E2A' :
          d > 0.02   ? '#FD8D3C' :
          d > 0.009   ? '#FEB24C' :
          d > 0.001   ? '#FED976' :
                '#FFEDA0';
    }

    function style(feature) {
        return {
            radius: 5,
            fillOpacity: 0.5,
            weight: 1,
            color: getColor2(feature.properties.ratio)
        };
    }

    function onEachFeature(feature, layer) {
        layer.bindPopup("<b>Ratio: </b>" + feature.properties.ratio);
    };
    L.geoJSON(aurin, {
        pointToLayer: function (feature, coordinate) {
            return L.circleMarker(coordinate, style);
        },
        style: style,
        onEachFeature: onEachFeature
    }).addTo(map2);

    var legend2 = L.control({position: 'bottomright'});

    legend2.onAdd = function (map2) {
        var div = L.DomUtil.create('div', 'info legend'),
            grades = [0, 0.001, 0.009, 0.02, 0.04, 0.06, 0.08, 0.1],
            labels = [];
        // loop through our density intervals and generate a label with a colored square for each interval
         for (var i = 0; i < grades.length; i++) {
            div.innerHTML +=
                '<i style="background:' + getColor2(grades[i] + 0.001) + '"></i> ' +
                grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
        }
        return div;
    };

    legend2.addTo(map2);





    // first chart : bar chart
    var twitter_border2 = ['rgba(255, 100, 131, 0.8)','rgba(255, 100, 131, 0.8)','rgba(255, 100, 131, 0.8)','rgba(255, 100, 131, 0.8)',
        'rgba(255, 100, 131, 0.8)','rgba(255, 100, 131, 0.8)','rgba(255, 100, 131, 0.8)','rgba(255, 100, 131, 0.8)'];
    var aurin_border2 = ['rgba(54, 162, 235, 0.8)', 'rgba(54, 162, 235, 0.8)','rgba(54, 162, 235, 0.8)','rgba(54, 162, 235, 0.8)',
        'rgba(54, 162, 235, 0.8)', 'rgba(54, 162, 235, 0.8)','rgba(54, 162, 235, 0.8)','rgba(54, 162, 235, 0.8)']

    var twitter_data = [0.2, 0.3, 0.1, 0.2, 0.4, 0.15, 0.2, 0.4];
    var aurin_data = [0.3, 0.5, 0.4, 0.3, 0.4, 0.2, 0.5, 0.4];
    var twitter_data_default = [];
    var aurin_data_default = [];
    var label = ['WA', 'NA', 'SA', 'QLD', 'NSW', 'VIC', 'ACT', 'TAS']

    for (var i = 0; i < aurin_data.length; i ++) {
        var twitter_default = 1 - twitter_data[i];
        var aurin_default = 1 - aurin_data[i];
        twitter_data_default.push(twitter_default);
        aurin_data_default.push(aurin_default);
    }

    var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: label,
                datasets: [{
                    label: 'Non-English Twitter',
                    stack: 'Stack 0',
                    data: twitter_data,
                    backgroundColor: twitter_border2,
                    borderColor: twitter_border2,
                    borderWidth: 2
                },
                {
                    label: 'English Twitter',
                    stack: 'Stack 0',
                    data: twitter_data_default,
                    borderWidth: 2
                },
                {
                    label: 'Non-English Speaking Population',
                    stack: 'Stack 1',
                    data: aurin_data,
                    backgroundColor: aurin_border2,
                    borderColor: aurin_border2,
                    borderWidth: 2
                },
                {
                    label: 'Non-English Speaking Population',
                    stack: 'Stack 1',
                    data: aurin_data_default,
                    borderWidth: 2
                }
                ]
            },
            options: {
                scales: {
                    xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
                },
                title: {
                    display: true,
                    // text: 'Twitter Data & AURIN Data'
                }
            }
        });


    // second chart : radar chart
    var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'radar',
            data: {
                labels: label,
                datasets: [{
                    label: 'Non-English Twitter',
                    data: twitter_data,
                    backgroundColor: 'rgba(255, 100, 131, 0.2)',
                    borderColor: 'rgba(255, 100, 131, 0.8)',
                    pointBackgroundColor: 'rgba(255, 100, 131, 0.8)',
                    borderWidth: 4,
                    pointHoverRadius: 10
                },
                {
                    label: 'Non-English Speaking Population',
                    data: aurin_data,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 0.8)',
                    pointBackgroundColor: 'rgba(54, 162, 235, 0.8)',
                    borderWidth: 4,
                    pointHoverRadius: 10
                }]
            },
            options: {
                legend: {
					position: 'top',
				},
				title: {
					display: true,
					{#text: 'Chart.js Radar Chart'#}
				},
				scale: {
					ticks: {
                        beginAtZero: true,
                        suggestedMax: 0.7
					}
				}
            }
        });

</script>
</body>
</html>
